/*
* PARTIALS
.red { color: red; }
.red-dark { color:darken(red, 20%); }
@import 'partials/partial-a';
@import 'partials/partial-b';
@import 'partials/partial-c';
*/
.spiderman {
  padding: 1rem 2rem; }
  .spiderman-container {
    background-color: #dbbebe; }
  .spiderman::before {
    display: block;
    content: url("../../images/spiderman-icon.png"); }
  .spiderman img {
    transition: transform .8s ease-in-out; }
    .spiderman img:hover {
      transform: rotate(360deg); }
  .spiderman .description {
    color: lime;
    text-align: center;
    margin-top: 1rem; }
    .spiderman .description .header {
      font-size: 2rem; }
      .spiderman .description .header a {
        text-decoration: none; }
        .spiderman .description .header a::after {
          content: url("../../images/spiderman-ok.jpg");
          display: inline-block;
          vertical-align: middle; }
