@charset "UTF-8";

/*
* PARTIALS
.red { color: red; }
.red-dark { color:darken(red, 20%); }
@import 'partials/partial-a';
@import 'partials/partial-b';
@import 'partials/partial-c';
*/
/*
 * NESTING
@import 'nesting/nesting'
*/
/*
  * VARIABLES
  @import 'variables/vary'
*/
/*
  * MIXIN 🎃
  @import 'mixins/mixins'
*/
/*
  * EXTENDS 🍟
  @import 'extends/extends'
*/
/*
 * ITERATE WITH FOR
 */
.order {
  order: 1;
}

.order {
  order: 2;
}

.order {
  order: 3;
}

.order {
  order: 4;
}

.order {
  order: 5;
}

.order {
  order: 6;
}

.order {
  order: 7;
}

.order {
  order: 8;
}

.order {
  order: 9;
}