@charset "UTF-8";

/*
* PARTIALS
.red { color: red; }
.red-dark { color:darken(red, 20%); }
@import 'partials/partial-a';
@import 'partials/partial-b';
@import 'partials/partial-c';
*/
/*
 * NESTING
@import 'nesting/nesting'
*/
/*
  * VARIABLES
  @import 'variables/vary'
*/
/*
  * MIXIN 🎃
  @import 'mixins/mixins'
*/
/*
  * EXTENDS 🍟
  @import 'extends/extends'
*/
/*
 * ITERATE WITH FOR
 */
.mt-half-0pt5 {
  margin-top: 0.5rem;
}

.mt-half-1 {
  margin-top: 1rem;
}

.mt-half-1pt5 {
  margin-top: 1.5rem;
}

.mt-half-2 {
  margin-top: 2rem;
}

.mt-half-2pt5 {
  margin-top: 2.5rem;
}

.mt-half-3 {
  margin-top: 3rem;
}

.mt-half-3pt5 {
  margin-top: 3.5rem;
}

.mt-half-4 {
  margin-top: 4rem;
}

.mt-half-4pt5 {
  margin-top: 4.5rem;
}

.mt-half-5 {
  margin-top: 5rem;
}